<!-- HEADER -->
<div ng-include="'/static/views/includes/header.html'"></div>


<main ng-controller="CheckStatusController">
    <section data-name="title">
        <h1>Check Order Status</h1>
    </section>

    <section data-name="body">
        <div data-name="wrapper" ng-show="page == 1">
            <p>Enter your order number below to view status.</p>
            <div data-name="form">
                <div data-name="fields">
                    <div data-name="field">
                        <small data-name="order-notfound" ng-show="isInvalidOrderNumber">The order number provided could not be found.</small>
                        <input type="text" ng-model="form.ordernumber" placeholder="(e.g. 1A33-F336-1836)">
                    </div>
                </div>
                <button class="button" ng-click="checkStatus()" ng-disabled="!form.ordernumber">VIEW STATUS</button>
            </div>
        </div>
        <div data-name="holder" ng-show="page == 2">
          <p>The status for order number <strong ng-bind="form.ordernumber"></strong> is: </p>
          <span data-name="order-status" ng-bind="status"></span>
          <p class="center">Have questions? Feel free to <a href="/support">contact us</a>.</p>
        </div>
    </section>

</main>

<div ng-include="'/static/views/includes/footer.html'"></div>
