<!-- HEADER -->
<div ng-include="'/static/views/includes/header.html'"></div>


<main>
    <section data-name="title">
        <h1>Frequent Questions</h1>
    </section>

    <section data-name="body">
        <div data-name="holder">
            <p>The following is a list of commonly asked questions. If you do not see your questions, feel free to email us at <a href="javascript:void(0);">contact@nimblenode.io</a> or message us in the official <a href="http://t.me/nimbleNODESupport" target="_blank">Nimble Telegram group</a>.</p>
            <div data-name="questions">
                <div data-name="question">
                    <strong>What is a full node?</strong>
                    <p>A node is device with software responsible for verifying consensus rules and relaying transactions (usually in the form of blocks) of a particular blockchain.</p>
                    <p>Running a full node is the only way to interact with a blockchain in a trustless way. Full nodes are also secure and do not suffer from the same attacks that could occur with light wallets.</p>
                    <p>Furthermore, having the entire blockchain downloaded is the most private way store, send, and receive crypto funds.</p>
                </div>
                <div data-name="question">
                    <strong>What is nimbleNODE?</strong>
                    <p>nimbleNODEs are plug-in-play chain agnostic full nodes that can be controlled anywhere from a mobile app. Unlike traditional full nodes that need to download an entire blockchain before they can be used, nimbleNODEs come with a verifiable pre-image of the blockchain of your choosing.</p>
                </div>
                <div data-name="question">
                    <strong>Do I need to be technical to use nimbleNODE?</strong>
                    <p>No. nimbleNODE abstracts out all the technical complexity of setting up a full node and makes the process as easy as connecting to WiFi and powering up. nimbleNODES can be fully controlled from any iOS or Android phone.</p>
                </div>
                <div data-name="question">
                    <strong>How long will I have to wait to get my nimbleNODE once I pre-order?</strong>
                    <p>We have officially begun Pre-Orders for Bithereum nimbleNODEs; the pre-order discount window will go for the entire month of May, as well as half of June, with shipments beginning in late-June. Once pre-orders for Bithereum nimbleNODEs are fulfilled, we will immediately begin shipping and accepting payments for all other listed blockchains as well (likely sometime in July).</p>
                    <p>In the meantime, anyone interested in BTC, ETH, BNB, BCH, BSV, or BTG nimbleNODEs can sign-up for our waitlist, and will be the first ones notified upon payment acceptance for these devices, as well as receive a 10% discount on the order.</p><p>When your order has been processed you will receive an email with instructions on how to pay for your nimbleNODE. Once payment has been received your nimbleNODE will be shipped. Depending on where you are located, shipping can take anywhere from 1-2 weeks.</p>
                    <p>If you were added to a wait list for a coin that will be added soon, you will be notified via email when your nimbleNODE becomes available for purchase.</p>
                </div>
                <div data-name="question">
                    <strong>Where can nimbleNODEs be shipped to?</strong>
                    <p>We will ship worldwide but anywhere outside the US will also have international shipping costs.</p>
                </div>
            </div>
        </div>
    </section>

</main>

<div ng-include="'/static/views/includes/footer.html'"></div>
