<!-- HEADER -->
<div ng-include="'/static/views/includes/header.html'"></div>


<main>
    <section data-name="title">
        <h1>Frequent Questions</h1>
    </section>

    <section data-name="body">
        <div data-name="holder">
            <p>The following is a list of commonly asked questions. If you do not see your questions, feel free to email us at <a href="javascript:void(0);">contact@nimblenode.io</a> or message us in the official <a href="http://t.me/nimbleNODESupport" target="_blank">Nimble Telegram group</a>.</p>
            <div data-name="questions">
                <div data-name="question">
                    <strong>What is a node?</strong>
                    <p>nimbleNODE packages a complete full node experience into a sleek device that is portable and lightweight enough to be taken anywhere.  At a size of just 1” x 2.1” and a weight of around 11.8 grams, there is no place nimbleNODE can’t go.</p>
                </div>
                <div data-name="question">
                    <strong>What is nimbleNODE?</strong>
                    <p>nimbleNODE packages a complete full node experience into a sleek device that is portable and lightweight enough to be taken anywhere.  At a size of just 1” x 2.1” and a weight of around 11.8 grams, there is no place nimbleNODE can’t go.</p>
                </div>
                <div data-name="question">
                    <strong>Do I need to be technical to use nimbleNODE?</strong>
                    <p>nimbleNODE packages a complete full node experience into a sleek device that is portable and lightweight enough to be taken anywhere.  At a size of just 1” x 2.1” and a weight of around 11.8 grams, there is no place nimbleNODE can’t go.</p>
                </div>
            </div>
        </div>
    </section>

</main>

<div ng-include="'/static/views/includes/footer.html'"></div>
