<main>

  <!-- INTRODUCTION -->
  <section data-name="introduction">
      <div ng-include="'/static/views/includes/header.html'"></div>
      <div data-name="content">
          <div data-name="wrapper">
              <h1>nimble<strong>NODE</strong></h1>
              <p>The most <strong>affordable</strong>, <strong>portable</strong>, <strong>customizable</strong>, and <strong>nimble</strong> way to run a full node from anywhere in the world.</p>
              <a href="javascript:void(0);">GET NIMBLE</a>
              <small>No deposit or pre-payment needed!</small>
          </div>
      </div>
  </section>

  <!-- SMALLEST AROUND -->
  <section data-name="smallestaround">
  </section>
</main>
