<div ng-controller="DocController">

  <div ng-include="'/static/views/includes/header.html'" ng-hide="isHeaderHidden"></div>

  <main>
      <section data-name="title">
          <h1>Legal</h1>
      </section>

      <section data-name="body">
          <div data-name="wrapper">
              <p>All of Nimble's applicable legal information: terms, policies, and conditions can be found on this page for your convenience.</p>
              <p class="emphasize">If you have any questions, please feel free to <a href="/support">contact us</a>.</p>
              <div data-name="legal">
                  <a href="/terms" data-name="option">
                      <i class="far fa-file-alt"></i>
                      <span>Terms and Conditions</span>
                  </a>
                  <a href="/returns" data-name="option">
                      <i class="fas fa-box"></i>
                      <span>Return Policy</span>
                  </a>
                  <a href="/privacy" data-name="option">
                      <i class="fas fa-lock"></i>
                      <span>Privacy Policy</span>
                  </a>
              </div>
          </div>
      </section>

  </main>

  <div ng-include="'/static/views/includes/footer.html'"></div>

</div>
