<!-- HEADER -->
<div ng-include="'/static/views/includes/header.html'"></div>


<main>
    <section data-name="title">
        <h1>Nimble Support</h1>
    </section>

    <section data-name="body">
        <div data-name="wrapper">
            <p>Your satisfication is extremely important to us. At Nimble, we want everyone to have an enjoyable and memorable node running experience.</p>
            <p class="emphasize">Feel free to reach us using any of the following methods.</p>
            <div data-name="support">
                <a href="javascript:void(0);" data-name="option">
                    <i class="fas fa-at"></i>
                    <span>nimble@nimblenode.io</span>
                </a>
                <a href="http://t.me/nimbleNODESupport" target="_blank" data-name="option">
                    <i class="fab fa-telegram-plane"></i>
                    <span>Nimble Chat</span>
                </a>
            </div>
        </div>
    </section>

</main>

<div ng-include="'/static/views/includes/footer.html'"></div>
