<footer>
  <div data-name="logo"></div>
  <h3>nimble<strong>NODE Inc.</strong></h3>
  <div data-name="links">
      <a href="javascript:void(0);">Support</a>
      <a href="javascript:void(0);">nimbleStore</a>
      <a href="javascript:void(0);">Frequent Questions</a>
      <a href="javascript:void(0);">Legal</a>
      <a href="javascript:void(0);">Request Coin</a>
      <a href="javascript:void(0);">Check Order</a>
  </div>
  <div data-name="social">
      <a href="javascript:void(0);"><div></div></a>
      <a href="javascript:void(0);"><div></div></a>
      <a href="javascript:void(0);"><div></div></a>
  </div>
  <small>© Copyright <span id="copyright-year"></span></small>
  <script>
      document.getElementById("copyright-year").innerHTML = (new Date()).getFullYear();
  </script>
</footer>
