<footer>
  <div data-name="logo"></div>
  <h3>nimble<strong>NODE Inc.</strong></h3>
  <div data-name="links">
      <a href="/support">Support</a>
      <a href="/store">nimbleStore</a>
      <a href="/faq">Frequent Questions</a>
      <a href="/legal">Legal</a>
      <a href="/coinrequest">Request Coin</a>
      <a href="/checkstatus">Check Order</a>
  </div>
  <div data-name="social">
      <a href="javascript:void(0);"><div></div></a>
      <a href="javascript:void(0);"><div></div></a>
      <a href="javascript:void(0);"><div></div></a>
  </div>
  <small>© Copyright <span id="copyright-year"></span></small>
  <script>
      document.getElementById("copyright-year").innerHTML = (new Date()).getFullYear();
  </script>
</footer>
